<!DOCTYPE html>
<html>
<head>
    <title>CV Dashboard</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>

<h2>Видео</h2>
<video id="video" controls autoplay width="640"></video>

<h2>Метрики</h2>
<div class="metrics">
    <div class="card">
        <div class="label">People</div>
        <div class="value" id="people">0</div>
    </div>

    <div class="card">
        <div class="label">FPS</div>
        <div class="value" id="fps">0</div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
    const video = document.getElementById('video');
    const src = "http://localhost:5001/hls/stream.m3u8";

    const hls = new Hls();
    hls.loadSource(src);
    hls.attachMedia(video);

    const socket = io("http://localhost:5001");

    socket.on('metrics', (data) => {
        document.getElementById('people').innerText = data.people;
        document.getElementById('fps').innerText = data.fps;
    });
</script>

</body>
</html>